.car{
    width: 100%;
    height: 600px;
    background-image:url(../images/palida.jpg.png);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bc-black{
    width: 300px;
    height: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.otal{
    width: 90%;
    height: 80px;
    background-color: rgb(233, 184, 23);
    max-height: 500px;
    min-height: 280px;
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otal img {
    width: 100px;
    
}

.sumatoria{
    width: 80%;
    height: 50px;
    background-color: rgb(218, 125, 20);
    display: flex;
    justify-content: center;
    border-radius: 5px;
}